html{
    display: flex;
    text-align: center;
    justify-content: center;


}

body{
    display: flex;
    background-color: lightblue;
    flex-direction: column;
}
.calculator{
    display: flex;
    background-color: white;
    flex-direction: column;
 
}
.display{
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 2px;
    border-color: black;
   
}
.calculatorInputs{
    display: flex;
    justify-content: flex-end;
    margin:20px 15px 20px 15px;
    font-size:xx-large;
  
}

.calculatorBottom{
    border-style: solid;
    border-width: 2px;
 border-color: grey;
 border-top-width: 0px;
 font-size:xx-large;

}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.groupbuttons{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
   
}
.calcButtons{
   width: 100px;
  
}

button{
   border-color: grey;
   border-radius: 3px;
   border-width: 1.2px;
   margin: 2px;
    padding: 25px;
   display: flex;

   align-items: center;
   justify-content: center;
   font-size: x-large;
}

canvas{
    border-style: solid;
    
}

#number0{
    margin-right: 0px;
    flex-grow:3;
    display: flex;
}


#equal{
    background-color: rgb(52, 228, 52);
}