html{
    display: flex;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
}
.calculator{
    display: flex;
   
    flex-direction: column;
 
}
.display{
    border-style: solid;
    border-width: 2px;
    border-bottom-width: 2px;
    border-color: black;
   
}
.calculatorInputs{
    display: flex;
    justify-content: flex-end;
    margin:6px 10px;
    
}

.calculatorBottom{
    border-style: solid;
    border-width: 2px;
 border-color: grey;
 border-top-width: 0px;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.groupbuttons{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.calcButtons{
   width: 50px;
   
}

button{
   border-color: grey;
   border-radius: 3px;
   border-width: 1.2px;
   margin: 4px;
   display: flex;

   align-items: center;
   justify-content: center;
   
}

canvas{
    border-style: solid;
    
}

